<div class="alert alert-success" role="alert" *ngIf="showbox">
  Employee deleted successfully. Redirecting in {{ countdown }}...
</div>
<div class="card" style="width: 40rem" *ngIf="employee">
  <div class="card-body">
    <h5 class="card-title">Are you sure you want to delete this employee?</h5>
    <p class="card-text">First Name: {{ employee.firstName }}</p>
    <p class="card-text">First Name: {{ employee.lastName }}</p>
    <p class="card-text">First Name: {{ employee.emailId }}</p>
    <button type="button" class="btn btn-secondary" (click)="onClose()">
      No, return
    </button>
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="isDisabled"
      (click)="onDelete()"
    >
      Yes, delete
    </button>
  </div>
</div>
