<div class="col-md-6 offset-md-3">
  <h2>Create Employee</h2>
  <form
    action="POST"
    #createEmployee="ngForm"
    (submit)="onSubmit(createEmployee)"
  >
    <div class="form-group">
      <label>First Name:</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="employee.firstName"
        name="firstName"
      />
      <br />
      <label>Last Name:</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        [(ngModel)]="employee.lastName"
        name="lastName"
      />
      <br />
      <label>Email ID:</label>
      <input
        type="email"
        class="form-control"
        id="emailId"
        [(ngModel)]="employee.emailId"
        name="emailId"
      />
      <br />
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </form>
</div>
